# React Uygulaması için Environment Değişkenleri
VITE_API_BASE_URL=http://localhost:5118/api

# Supabase Configuration
VITE_SUPABASE_URL=https://ehordwomcshznizvoxdk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVob3Jkd29tY3Noem5penZveGRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzMjcxMjUsImV4cCI6MjA3MTkwMzEyNX0.GguhWjIghvUR5RgF-t2rhHJF1JMyOF_BQ4k6n46pQGA

# Production için:
# VITE_API_BASE_URL=https://yourdomain.com/api
